<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <!-- INPUT SETTINGS-->
      <!-- inputType can be either a flat or sql-->
      <add key="inputType" value="sql" />
      <!-- flat file source path leave blank if using the SQL Database Server-->
      <!-- the flat file should contain one column with email addresses-->
      <add key="inputflatSource" value="" />
      <!-- SQL server connection string leave blank if using a flat file source-->
      <!-- NOTE: This will be encrypted on first launch-->
      <add key="inputSQLConnectionString" value="user id=HelpSystemApp;password=h3lpM3!;database=ActiveDirectory;data source=DB01;Connect Timeout=120;pooling='false';" />
      <!-- SQL server command type text or stored procedure leave blank if using a flat file source-->
      <add key="inputSQLCommandType" value="Text" />
      <!-- SQL server command leave blank if using a flat file source-->
      <add key="inputSQLCommand" value="SELECT sAMAccountName + '@students.leeschools.net',PSEmployeeID FROM dbo.UserAccounts WHERE IDMUserLocationCode = '0731' AND NOT OUPath LIKE '%Disabled%' AND OUPath LIKE '%Students%'" />
      <!-- END INPUT SETTINGS-->
      <!-- OUTPUT SETTINGS-->
      <!-- outputType can be either a flat or sql-->
      <add key="outputType" value="sql" />
      <!-- flat file output path leave blank if using the SQL Database Server-->
      <add key="_outputflatPath" value="" />
      <!-- SQL server connection string leave blank if using a flat file source-->
      <!-- NOTE: This will be encrypted on first launch-->
      <add key="outputSQLConnectionString" value="user id=HelpSystemApp;password=h3lpM3!;database=ActiveDirectory;data source=DB01;Connect Timeout=120;pooling='false';" />
      
      <!--END OUTPUT SETTINGS-->
      <!--Google Settings-->
      <add key="serviceAccountEmail" value="driveaccess@adminsdk-1385.iam.gserviceaccount.com" />
      <add key="applicationName" value="adminsdk" />
      <add key="keyFilePath" value="adminsdk.p12" />
      <!--END Google Settings-->
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>